

/* ********* STYLE BASE ********* */


body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: red;
}

.header {
    height: 64px;
    flex-shrink: 0;
    background-color: yellow;
}

.listview {
    flex-grow: 1;
    overflow: scroll;
    background-color: blue;
    display: flex;
    flex-direction: column-reverse;
}

.listview > div {
    background-color: purple;
}

.footer {
    flex-shrink: 0;
    height: 64px;
    background-color: green;
}